.nav li{
    display: inline;
    
    
}

html {
    font-size: 62.5%;
}

.nav a {

    font-size: 4rem;
    color: white;
    text-decoration: none;
    background-color:transparent;
    display: inline-block;

}

.nav {
    position: relative;
    background: url(bac1.jpg);
background-size: cover;
text-align:left;
background-color: black;
color: white;
text-decoration: none;
border: .2rem solid transparent;
font-weight: bold;
padding: 1.3rem 3rem;border-radius: 3rem;
}

.li0{
    color: white;
    font-size: 4.2rem;
    margin-right: 10%;
}
.span1{
    color: red;
}

.li1{

    margin-right: 3%;

}

.li2{

    margin-right: 3%;

}

.li3{

    margin-right: 3%;

}

.navbar23{
    background-color: aqua;
}



    

.lap1 {

    margin-left: 70%;
    display: inline;
    display: inline-block;
    margin-bottom: 10%;
    
}
.lap2 {
    
position: absolute;    
    top: 16.9rem;
    margin-left: 15%;
    margin-bottom: 20%;
}
.lap {
    position: absolute;
    top: 47rem;
    right: 75rem;
}

.mac1 {

    margin-bottom: 8%;
}
.w1 {
    text-align: center;
}
.w2{
    text-align: center;

}
.w3 {
margin-left: 4%;    
}
.w4 {
    

    position: relative;
    right: -105rem;
    top: 4.8rem;
    display: inline-block;

}
.b1 {

    background: grey;
    color: black;
    text-decoration: none;
    border: .2rem solid transparent;
    font-weight: bold;
    padding: .9rem 1.8rem;
    border-radius: 3rem;
    border-color: white;
    text-align: center;
    font-style: italic;
}
.b1:hover{
    background: transparent;
    border: .2rem solid #f9004d;
    cursor: pointer;

}
.nav2 li{

    text-decoration: none;
    display: inline;
    position: relative;
    right: -100rem;
    top: 1.5rem;
    
}

.t1 {
    background-size: cover;

    
    

}

.HH1 {
    position: absolute;
    top: 27rem;
    color: white;
    font-size: 450%;
    left: 40%;
    text-align: center;
    display: inline-block;
    
}

.btt1 {
    position: relative;
    bottom: 38rem;
    left: 30rem;
    width: 48%;
    border-radius: 3rem;
    padding: 0.6em;
    font-style: italic;

}
.btt2 {
    position: relative;
    bottom: 33.5rem;
    right:9rem;
    width: 10%;
    background: grey;
    color: black;
    text-decoration: none;
    border: .2rem solid transparent;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 3rem;
}
.btt2:hover{
    background: transparent;
    border: .2rem solid grey;
    cursor: pointer;
}

about img{
    height: auto;

}

.about{
    width: 100%;
    padding: 7.8rem 0rem;
    background-color: black;
}

.about-text{
    width: 55rem;
}


.main{
    width: 113rem;
    display: flex;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 8rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.about-text h5{
    color: white;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
    letter-spacing: .2rem;
}

.aboutspan{
    color: red;
}

.about-text p{
    color: pink;
    letter-spacing: .1rem;
    font-size: 1.8rem;
    margin-bottom: 4.5rem;
    font-style:italic;
}

.btnabout{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: .2rem solid transparent;
    font-weight: bold;
    padding: 1.3rem 3rem;border-radius: 3rem;
}

.btnabout:hover {
    background: transparent;
    border: .2rem solid #f9004d;
    cursor: pointer;

}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}


